<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>
<%= link_to "New cliente", new_cliente_path %>

<table class='table'>
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Telefono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody id="clientes">
    <% @clientes.each do |cliente| %>
      <%= render partial: 'cliente', locals: { cliente: cliente } %>
    <% end %>
  </tbody>
</table>
