<h1>Editing contrato combo paquete</h1>

<%= render "form", contrato_combo_paquete: @contrato_combo_paquete %>

<br>

<div>
  <%= link_to "Show this contrato combo paquete", @contrato_combo_paquete %> |
  <%= link_to "Back to contrato combo paquetes", contrato_combo_paquetes_path %>
</div>
