<div id="<%= dom_id promocion %>">
  <p>
    <strong>Nombre:</strong>
    <%= promocion.nombre %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= promocion.estado %>
  </p>

  <p>
    <strong>Fecha vigencia:</strong>
    <%= promocion.fecha_vigencia %>
  </p>

</div>
