<h1>Editing promocion</h1>

<%= render "form", promocion: @promocion %>

<br>

<div>
  <%= link_to "Show this promocion", @promocion %> |
  <%= link_to "Back to promocions", promocions_path %>
</div>
