<p style="color: green"><%= notice %></p>

<h1>Promocions</h1>

<div id="promocions">
  <% @promocions.each do |promocion| %>
    <%= render promocion %>
    <p>
      <%= link_to "Show this promocion", promocion %>
    </p>
  <% end %>
</div>

<%= link_to "New promocion", new_promocion_path %>
