<h1>Editing contrato servicio</h1>

<%= render "form", contrato_servicio: @contrato_servicio %>

<br>

<div>
  <%= link_to "Show this contrato servicio", @contrato_servicio %> |
  <%= link_to "Back to contrato servicios", contrato_servicios_path %>
</div>
